<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uzair.activity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:name="com.uzair.utils.SharedPrefsSettings"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name="com.uzair.activity.Calculator"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.uzair.activity.TrueFalseQuestion"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.uzair.activity.EquationQuestion"
            android:screenOrientation="portrait" />

    </application>

</manifest>